html, body {
    background-color: rgb(165, 180, 188);
    margin: 0;
    padding: 0;
  }
  
  .top {
    background-color: rgb(57, 129, 168);
    color: lavenderblush;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.box {
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
  
    
}

.image {
    width: 80%;
    margin: auto;
    display: block;
    outline: 4px solid #544ab0;
    outline-offset: -35px;
    border: 10px solid #4f58ff;
    padding: 0px;   
    


}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.area {
    display: grid;
    place-items: center;

}

.topic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1.7rem;
  margin-bottom: -1rem;
}
.size {
  width: 90%;
  border: 5px solid black;
  outline: 4px solid #2e2e33;
  outline-offset: -35px;
}



