html, body {
    background-color: gray;
    margin: 0;
    padding: 0;
  }
  
  .top {
    background-color: rgb(15, 51, 70);
    color: lavenderblush;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.box {
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    border:10px solid #7d7de7;
 
  
    
}

.image {
    width: 80%;
    margin: auto;
    display: block;
    outline: 4px solid #593a07;
    outline-offset: -35px;
    border: 10px solid #4f58ff;
    padding: 0px;   
    


}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.area {
    display: grid;
    place-items: center;

}

.topic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1.7rem;
  margin-bottom: -1rem;
}
.size {
  width: 90%;
  border: 5px solid black;
  outline: 4px solid #2e2e33;
  outline-offset: -35px;
}

li,h2,a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 25px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20%;
  
}



.logo {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: inline-block;
  height: 40px;

}

button {
  background-color: lightblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 20%;
}

.fott{
  background-color: rgb(15, 51, 70);
  color: lavenderblush;
  height: auto;
  width: 200%;
  padding-top: 30px;
}
